

.product-gallery{
    display: flex;
    width: 100%;
    margin: 40px auto;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    position: relative;
   
}

.product-card{
    display: flex;
    height: 50%;
    width: 100%;
    border: 3px solid black;
}

.product-card img{
    height: 900px;
    width: 700px;
}